.cards {
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.card{
    
    background: linear-gradient(to bottom, blue 50%, rgb(255, 255, 255) 50%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}
.card .circle{
    background-color: black;
    border-radius: 50%;
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    text-align: center;   
}
.card .top {
    position: relative;
    left: 350px;
    bottom: 190px;
}

.card img{
    position: relative;
    top: 50px;
    left: 40px;
    border-radius: 50%;
}
.card h3{
    position: relative;
    left: 100px;
    font-size: 25px;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 25px;
}
.flex .circle{
    padding-right: 25px;
}